@charset "UTF-8";
*, p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "BasicFont";
  src: local("BasicFont"), url(./gilroy-fontFamily/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "BoldFont";
  src: local("BoldFont"), url(./gilroy-fontFamily/Gilroy-SemiBold.ttf);
}
.textPink {
  color: #BB00FF;
}

.space-between {
  align-items: center;
  justify-content: space-between;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: white;
}

body {
  background: rgb(10, 10, 10);
  font-family: "BasicFont";
}

.centerContent {
  width: 80%;
  margin: 0 auto;
}

footer {
  padding: 2rem 0 3rem;
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  display: block;
  color: rgba(255, 255, 255, 0.7607843137);
  margin: 19px 0;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7607843137);
}
footer small {
  font-size: 12px;
}
footer .socialiconsend {
  text-align: right;
}

.socialIcons {
  margin-bottom: 50px;
}
.socialIcons li {
  display: inline-block;
}
.socialIcons li img {
  margin: 0 0 0 33px;
  width: 27px;
}

.newslettter {
  padding: 50px 0;
}
.newslettter h2 {
  font-family: "BoldFont";
}

.emailsub {
  background: rgba(66, 0, 91, 0.35);
  padding: 8px 20px;
  display: flex;
  border-radius: 9px;
}
.emailsub input {
  border: 0;
  width: 100%;
  color: #BB00FF;
  background: transparent;
}
.emailsub input::placeholder {
  color: #BB00FF;
}
.emailsub button {
  border: 0;
  font-size: 12px;
  padding: 9px 17px;
  background-image: linear-gradient(45deg, #a900e6, #42005b);
  color: white;
  border-radius: 85px;
  display: inline-flex;
  align-items: center;
}
.emailsub button p {
  padding-right: 8px;
}

.dgrid {
  display: grid;
}

.auditBy {
  background-image: url(../src/imgs/Auditedby.png);
  padding: 28px 51px;
  border-radius: 33px;
  color: white;
}
.auditBy h1 {
  font-family: "BoldFont";
}
.auditBy button {
  background-color: #381D43;
  color: white;
  padding: 4px 11px;
  font-size: 13px;
  border: 0;
  border-radius: 4px;
  place-self: flex-start;
}
.auditBy .KudelskiSecurity {
  width: 77%;
}

.auditByCover {
  height: 418px;
  padding-bottom: 60px;
  align-items: flex-end;
  display: flex;
  background-size: cover;
  background-image: url(../src/imgs/audibyCover.png);
}

.feature {
  padding: 3rem 4rem 2.5rem 4rem;
  position: relative;
  border-radius: 72px;
  overflow: hidden;
  margin: 5rem 0;
  background-size: cover;
}
.feature:nth-child(1) {
  background-image: url(../src/imgs/Roadmap.png);
}
.feature:nth-child(2) {
  background-image: url(../src/imgs/Roadmap1.png);
}
.feature:nth-child(3) {
  background-image: url(../src/imgs/Roadmap2.png);
}
.feature h1 {
  text-transform: uppercase;
  font-size: 61px;
  font-family: "BoldFont";
}
.feature h1 span {
  font-size: 25px;
}
.feature button {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 12px;
  border: 0;
  padding: 6px 14px;
  display: flex;
}
.feature button img {
  width: 13px;
  margin-right: 7px;
}
.feature .feDes {
  width: 254px;
  padding: 5.2rem 0 2rem;
}
.feature .roadmapicon1 {
  position: absolute;
  right: 9%;
  width: 287px;
  bottom: 0;
}
.feature .roadmapicon2 {
  position: absolute;
  right: -5%;
  border-radius: 0 0 74px 0;
  width: 275px;
  bottom: -16%;
}
.feature .roadmapicon3 {
  position: absolute;
  right: 10%;
  width: 290px;
  top: -23%;
}

.about p {
  width: 27%;
  font-size: 18px;
  margin: 0 auto;
}

.bgmain {
  background-image: url(../src/imgs/Backgroundindex.png);
  background-size: 100% 100%;
}

.auditLogo1 {
  width: 23%;
}

.headerbar {
  padding: 3rem 0 0.5rem;
}
.headerbar a {
  margin: 0 13px;
  color: white;
}
.headerbar a:hover {
  color: white;
}
.headerbar .wallet {
  background-image: linear-gradient(45deg, #a900e6, #42005b);
  border-radius: 24px;
  width: 140px;
  text-align: center;
}
.headerbar .d-none-desktop {
  display: none;
}

.banner {
  text-align: center;
  overflow: hidden;
  height: 520px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  line-height: 1.2;
  font-size: 6.3rem;
  margin-bottom: 2.3rem;
}
.banner h1 span {
  font-size: 33px;
}
.banner .welcomTitle {
  text-transform: uppercase;
  letter-spacing: 14px;
  font-size: 14px;
}
.banner .leftGif {
  position: absolute;
  width: 40%;
  left: -12%;
}
.banner .rightGif {
  position: absolute;
  width: 40%;
  right: -12%;
  top: 15%;
}

.contactnetbg {
  position: relative;
}
.contactnetbg:before {
  opacity: 0.7;
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../src/imgs/contact-us-pg.png);
  background-size: 100% 100%;
}
.contactnetbg .contactnet {
  height: 530px;
  margin: 20px 0;
  position: relative;
}
.contactnetbg .contactnet:after {
  background-image: url(./imgs/animation.gif);
  content: "";
  position: absolute;
  z-index: -2;
  top: -89%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
  background-size: 100%;
  mix-blend-mode: luminosity;
}

.contactUsContent .xicon {
  position: absolute;
  right: -3%;
  width: 9%;
  bottom: -27%;
}
.contactUsContent .formstyle {
  background: rgba(66, 0, 91, 0.4784313725);
  border: 1px solid #8e00c1;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 9px;
  margin: 8px 0;
  color: #d2d2d2;
}
.contactUsContent button {
  border-radius: 26px;
  padding: 8px 27px;
  font-size: 14px;
  margin: 16px 0;
  border: 0;
  background-image: linear-gradient(45deg, #a900e6, #42005b);
}
.contactUsContent h1 {
  font-size: 75px;
}
.contactUsContent li {
  display: block;
  margin: 16px 0;
}
.contactUsContent .links img {
  width: 30px;
}
.contactUsContent .links a {
  color: white;
  text-decoration: none;
}
.contactUsContent .links .row div {
  padding: 8px 0;
}
.contactUsContent .contacticons {
  align-items: center;
}
.contactUsContent .contacticons img {
  width: 100%;
}
.contactUsContent .contacticons .contactlogo2 {
  width: 65px;
}

.align-self-center {
  align-self: center;
}

.roadmapdetail {
  padding: 15px 0;
}
.roadmapdetail h1 {
  font-family: "BoldFont";
  font-size: 99px;
}
.roadmapdetail h1 span {
  font-size: 35px;
}
.roadmapdetail .r1img {
  width: 41%;
}

a.carousel-control-next, a.carousel-control-prev {
  display: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #a900e6;
}

.carousel-indicators {
  bottom: -4%;
}

.bannerx {
  padding: 50px 0 70px;
}

.gifx {
  padding: 2.3rem 0 3rem;
}

.nxdex {
  padding: 100px 0 80px;
}
.nxdex img {
  width: 9%;
}

.gifx img {
  opacity: 0.4;
}

.nftbg .ecogif:after {
  background-image: url(./imgs/eco-gif.gif);
  content: "";
  position: absolute;
  z-index: -2;
  top: 11%;
  bottom: 15%;
  left: -4%;
  background-repeat: no-repeat;
  width: 27%;
  opacity: 0.4;
  mix-blend-mode: luminosity;
}

.nftbg .ecogif:before {
  background-image: url(./imgs/eco-gif1.gif);
  content: "";
  position: absolute;
  z-index: -2;
  top: 11%;
  bottom: 15%;
  right: -11%;
  /* height: 45%; */
  opacity: 0.4;
  background-repeat: no-repeat;
  width: 27%;
  mix-blend-mode: luminosity;
}

.nftbg {
  overflow: hidden;
  background-image: none;
  position: relative;
}
.nftbg:before {
  opacity: 0.7;
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../src/imgs/nft.png);
  background-size: 100% 100%;
}

.detailbg {
  position: relative;
}
.detailbg:before {
  opacity: 0.7;
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../src/imgs/detailbg.png);
  background-size: 100% 101%;
}
.detailbg .bgmask1 {
  background-image: url(../src/imgs/mask1.png);
  padding: 35px;
  height: 100%;
  border-radius: 40px;
}
.detailbg .bgmask2 {
  background-image: url(../src/imgs/mask2.png);
  padding: 35px;
  height: 100%;
  border-radius: 40px;
}
.detailbg .bgmask3 {
  background-image: url(../src/imgs/mask3.png);
  padding: 35px;
  height: 100%;
  border-radius: 40px;
}
.detailbg .bgmask4 {
  margin: 34px 0;
  background-image: url(../src/imgs/mask4.png);
  padding: 35px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.detailbg .bgmask4 img {
  height: 145px;
  width: 145px;
}
.detailbg .bgmask {
  font-size: 15px;
}
.detailbg .bgmask img {
  width: 84px;
  height: 84px;
}
.detailbg .blockh5 {
  font-family: "BoldFont";
  font-size: 26px;
}

.downloadimg {
  background-image: url(./imgs/downloadbg.png);
  background-size: 100% 100%;
  border-radius: 20px;
  padding: 20px 15px;
  margin: 20px 0;
}
.downloadimg img {
  width: 24%;
  height: 100%;
  margin: 0 6px;
}

.nxdeblock1 {
  background-image: url(./imgs/nxde1.png);
}

.nxdeblock2 {
  background-image: url(./imgs/nxde2.png);
}

.nxdeblock3 {
  background-image: url(./imgs/nxde3.png);
}

.nxdeglow {
  position: relative;
  padding-top: 101px;
}
.nxdeglow:before {
  background-image: url(./imgs/glowbg.png);
  position: absolute;
  top: -30%;
  bottom: 0;
  content: "";
  left: 0;
  background-size: 100% 100%;
  right: 0;
  width: 100%;
  z-index: -1;
}

.nxdebg .row {
  align-items: center;
}
.nxdebg .nxdeblock {
  border-radius: 61px;
  padding: 25px 10px 30px;
  margin: 40px 0;
}
.nxdebg .nxdeblock img {
  width: 110px;
  height: 110px;
}
.nxdebg .nxdeblock p {
  font-size: 14px;
}

.mobileView {
  display: none;
}

.text-end-div {
  text-align: right;
}

.w-50-mbl {
  width: 50%;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.ecogif {
  position: relative;
}

.ecogif:after {
  background-image: url(imgs/eco-gif.gif);
  content: "";
  position: absolute;
  opacity: 0.4;
  z-index: -2;
  top: 7%;
  bottom: 15%;
  left: -19%;
  background-repeat: no-repeat;
  width: 27%;
  mix-blend-mode: luminosity;
}

.ecogif:before {
  background-image: url(imgs/eco-gif1.gif);
  content: "";
  position: absolute;
  z-index: -2;
  top: 7%;
  opacity: 0.4;
  bottom: 15%;
  right: -17%;
  background-repeat: no-repeat;
  width: 36%;
  mix-blend-mode: luminosity;
}

.ecogifn {
  position: relative;
}

.ecogifn:after {
  background-image: url(imgs/eco-gif.gif);
  content: "";
  position: absolute;
  z-index: -2;
  top: 7%;
  bottom: 15%;
  opacity: 0.4;
  left: -2%;
  background-repeat: no-repeat;
  width: 100%;
  mix-blend-mode: luminosity;
}

.bannersx {
  padding: 1rem 0px 2rem;
}

.ecogifn:before {
  background-image: url(imgs/eco-gif1.gif);
  content: "";
  position: absolute;
  z-index: -2;
  opacity: 0.4;
  top: 7%;
  bottom: 17%;
  right: -3%;
  background-repeat: no-repeat;
  width: 31%;
  mix-blend-mode: luminosity;
}

.longslide .slick-list {
  height: 507px;
  margin-top: 2rem;
}
.longslide .slick-slide > div {
  background: #23092D;
  padding: 15px;
  border-radius: 14px;
  margin: 10px;
}

.f-14 {
  font-size: 14px;
}

.longslide button.slick-arrow.slick-prev, .longslide button.slick-arrow.slick-next {
  display: none !important;
}

.w-80 {
  width: 80%;
}

.viewm {
  border: 0;
  background: #1E1920;
  color: white;
  font-size: 13px;
  padding: 8px 22px;
  border-radius: 9px;
  font-weight: bold;
}

.nftcenter {
  width: 90%;
  overflow: hidden;
  margin: 0 0 0 auto;
}
.nftcenter .slick-slider.slick-initialized {
  width: 97%;
}
.nftcenter .slick-next:before {
  display: none;
}
.nftcenter .slick-prev:before {
  font-size: 13px;
  line-height: 1;
  border-radius: 100%;
  background: #490064;
  opacity: 1 !important;
  box-shadow: -1px 2px 14px 4px #71039c;
  padding: 0px 2px;
  border: 10px solid #490064;
  outline: none;
  color: #a900e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
}
.nftcenter .slick-prev {
  left: -2%;
  z-index: 1;
}

.socialnft {
  display: flex;
  padding: 12px 0;
  align-items: center;
}

button.navbar-toggler.collapsed {
  position: absolute;
  left: -10px;
}

.longslide .hash span {
  font-size: 10px;
}
.longslide .hash button {
  line-height: 0;
  font-size: 14px;
}

.detailbtn {
  background: transparent;
  color: #bb00ff;
  border: 1.5px solid #bb00ff;
  padding: 0 6px;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
}

.buybtn {
  border: 0;
  background: rgba(165, 165, 165, 0.2901960784);
  color: white;
  padding: 0 18px;
  font-size: 11px;
  height: 34px;
  border-radius: 7px;
}

.height08 {
  line-height: 0.8;
}

.hash {
  width: 62%;
}

.slidercontent .hash {
  width: 33.3%;
  float: left;
  padding: 0 4px;
}

.w-95 {
  width: 95%;
}

.height01 {
  line-height: 1.1;
}

.socialnft button {
  border: 0;
  font-size: 12px;
  padding: 9px 17px;
  background-image: linear-gradient(45deg, #a900e6, #42005b);
  color: white;
  border-radius: 85px;
  height: 35px;
  align-items: center;
}
.socialnft .hash {
  width: 18%;
}

.overflow-v {
  overflow: visible;
}

.nftgif.ecogif:after {
  display: none;
}

.nxdex .bannerx.ecogifn, .detailbg {
  overflow: hidden;
}

.headingnfts {
  width: 86%;
  margin: 0;
}

.headingnfts p {
  font-size: 18px;
  padding: 2.5rem 0;
}

.headingnfts h1 {
  padding-top: 2rem;
}

a.navbar-brand img {
  width: 42%;
}

.viewM {
  display: none;
  text-align: center;
}
.viewM button {
  background-color: #381D43;
  color: white;
  font-size: 13px;
  border: 0;
  border-radius: 4px;
  padding: 0.7rem 37px;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 2200px) and (min-width: 1400px) {
  .ecogifn:before {
    right: -9%;
  }
}
@media only screen and (max-width: 1020px) {
  .banner .leftGif {
    left: -14%;
    top: 27%;
  }
  .banner h1 {
    font-size: 4.4rem;
    margin-bottom: 1.7rem;
  }
  .banner .welcomTitle {
    letter-spacing: 12px;
    font-size: 13px;
  }
  .banner .rightGif {
    right: -15%;
    top: 27%;
  }
}
@media only screen and (max-width: 768px) {
  .textCenterMbl, .text-end-div, .bannerx {
    text-align: center;
  }
  .longslide .slick-list {
    height: 503px;
  }
  .viewM {
    display: block;
  }
  a.d-none-desktop.navbar-brand img {
    width: 57%;
  }
  .longslide .slick-dots li.slick-active button:before {
    opacity: 0.85;
    color: #bb00ff;
  }
  .longslide .slick-dots {
    padding-bottom: 4.5rem;
    padding-left: 0;
  }
  .longslide .slick-dots li button:before {
    font-family: "slick";
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 24px;
    content: "•";
    text-align: center;
    opacity: 0.5;
    color: #bb00ff;
  }
  .headingnfts p {
    padding: 0rem 0;
  }
  .detailbg .bgmask4 p {
    font-size: 11px;
  }
  .roadmapdetail .ecogif p {
    font-size: 13px;
  }
  .headingnfts {
    width: 85%;
    margin: 0 auto;
  }
  .headingnfts p {
    font-size: 13px;
  }
  .w-80 {
    width: 100%;
  }
  .nftcenter h2 {
    padding-top: 15px;
  }
  .nftcenter {
    width: 98%;
  }
  .nftcenter .slick-initialized .slick-slide {
    padding-left: 1.9rem;
  }
  .longslide {
    padding: 0 1.3rem;
  }
  .nftcenter .slick-next, .longslide .slick-next {
    right: 3%;
    z-index: 1;
    height: 23px;
  }
  .nftcenter .slick-prev, .longslide .slick-prev {
    left: 4%;
    height: 23px;
    width: 23px !important;
  }
  .nftcenter .slick-prev, .nftcenter .slick-next, .longslide .slick-prev, .longslide .slick-next {
    top: 35%;
  }
  .nftcenter .longslide h4, .longslide .longslide h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .nftcenter .viewm, .longslide .viewm {
    font-size: 11px;
    padding: 6px 12px;
    border: 0;
  }
  .nftcenter .slick-prev:before, .longslide .slick-prev:before {
    font-size: 11px;
    line-height: 1;
    border-radius: 100%;
    box-shadow: none;
    background: #490064;
    opacity: 1 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    border: 4px solid #490064;
    outline: none;
    color: #a900e6;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
  }
  .nftcenter .slick-next:before, .longslide .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 11px;
    box-shadow: none;
    line-height: 1;
    border-radius: 100%;
    background: #490064;
    opacity: 1 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    border: 4px solid #490064;
    outline: none;
    color: #a900e6;
    -webkit-font-smoothing: antialiased;
  }
  .nftcenter .slick-next, .longslide .slick-next {
    width: 23px;
  }
  .nftcenter .slick-next:before, .longslide .slick-next:before {
    display: block;
  }
  .longslide button.slick-arrow.slick-prev, .longslide button.slick-arrow.slick-next {
    display: block !important;
    z-index: 1;
  }
  .ecogif:after, .ecogifn:after, .ecogif:before {
    display: none;
  }
  .roadmapdetail h1 {
    font-size: 63px;
    text-align: center;
  }
  .detailbg {
    position: relative;
  }
  .detailbg:before {
    opacity: 0.7;
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../src/imgs/product-pg-mobile.png);
    background-size: 100% 100%;
  }
  .w-50-mbl, .w-80mbl {
    width: 86%;
    margin: 0 auto;
  }
  .roadmapdetail .r1img {
    width: 40%;
    margin-bottom: 41px;
  }
  .contactnetbg:before {
    background-image: url(../src/imgs/contact-us-mobile.png);
  }
  .gifx img {
    width: 100%;
  }
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }
  .nxdex img {
    width: 37%;
  }
  .contactUsContent {
    padding-top: 2rem;
  }
  .contactUsContent .links img {
    width: 36px;
  }
  .contactUsContent button {
    padding: 9px 27px;
    font-size: 18px;
    width: 100%;
  }
  .contactUsContent h5 {
    font-size: 21px;
  }
  .contactUsContent .contacticons {
    text-align: center;
  }
  .contactUsContent .contacticons h5 {
    font-size: 19px;
  }
  .contactUsContent .contacticons li {
    margin-bottom: 0;
  }
  .contactUsContent .contacticons .contactlogo2 {
    width: 67px;
  }
  .contactUsContent .contactnet {
    height: 354px;
    margin: 0px 0;
  }
  .contactUsContent .contactnet:after {
    top: -100%;
    bottom: -24%;
    background-size: cover;
    background-position-x: center;
  }
  .nftbg .headerbar {
    padding: 2.2rem 0 0rem;
  }
  .headingnfts h1 {
    padding-top: 2rem;
  }
  .gifBg:before {
    background-image: url(./imgs/indexgif.gif);
    top: -38%;
    content: "";
    position: absolute;
    height: 269px;
    background-size: contain;
    z-index: -2;
    width: 100%;
  }
  .bgmain {
    background-image: none;
    position: relative;
  }
  .bgmain:before {
    background-image: url(./imgs/Backgroundindexmbl.png);
    opacity: 0.8;
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    width: 100%;
  }
  .bgmain .headerbar {
    padding: 2.2rem 0 0rem;
  }
  .headerbar .d-none-desktop {
    display: block;
  }
  .headerbar .d-none-mbl {
    display: none;
  }
  .navbar a {
    margin: auto;
  }
  .navbar .navbar-toggler-icon {
    background-image: url(../src/imgs/menu.png);
  }
  .welcomTitle span {
    display: none;
  }
  .banner {
    height: 482px;
  }
  .banner h1 {
    line-height: 1.2;
    font-size: 6rem;
  }
  .banner h1 span {
    font-size: 25px;
  }
  .banner .welcomTitle {
    letter-spacing: 29px;
    font-size: 17px;
  }
  .banner .leftGif, .banner .rightGif {
    display: none;
  }
  .banner .bannerText {
    font-size: 16px;
  }
  .about p {
    width: 46%;
    font-size: 16px;
  }
  .auditByCover {
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    background-size: 100%;
  }
  .about {
    height: 275px;
  }
  .centerContent {
    width: 86%;
  }
  .feature {
    padding: 2.6em 2rem 2.5rem 2.3rem;
    border-radius: 43px;
    margin: 2rem 0;
    height: 470px;
    overflow: hidden;
  }
  .feature:nth-child(1) {
    background-image: url(../src/imgs/Roadmap1mbl.png);
  }
  .feature:nth-child(2) {
    background-image: url(../src/imgs/Roadmap2mbl.png);
  }
  .feature:nth-child(3) {
    background-image: url(../src/imgs/Roadmap3mbl.png);
  }
  .feature h1 {
    font-size: 54px;
    text-transform: uppercase;
  }
  .feature h4 {
    font-size: 17px;
  }
  .feature .feDes {
    width: auto;
    font-size: 14px;
    padding: 1.2rem 0 1rem;
  }
  .feature .roadmapicon1 {
    right: -6%;
    width: 203px;
  }
  .feature button {
    font-size: 16px;
  }
  .feature button img {
    width: 16px;
  }
  .feature .roadmapicon3 {
    top: auto;
    right: -2%;
    width: 203px;
    bottom: -17%;
  }
  .feature .roadmapicon2 {
    border-radius: 0;
    width: 172px;
    top: 6px;
    left: -6%;
  }
  .auditBy {
    text-align: center;
    background-image: url(../src/imgs/Auditedbymbl.png);
    background-size: 100% 100%;
    margin-top: 156px;
  }
  .auditBy h1 {
    font-size: 80px;
  }
  .auditBy button {
    place-self: center;
    padding: 9px 37px;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
  }
  .auditBy img {
    width: 17%;
    margin: 17px 0;
  }
  .auditBy .KudelskiSecurity {
    width: 42%;
  }
  footer {
    padding: 10px;
  }
  footer .newslettter {
    text-align: center;
  }
  footer .newslettter h2 {
    font-weight: 700;
    font-size: 30px;
  }
  footer .newslettter p {
    margin: 1.3rem 0;
  }
  footer .newslettter button {
    font-size: 21px;
    padding: 5px 12px;
  }
  footer .newslettter button p {
    display: none;
  }
  footer .socialiconsend {
    text-align: center;
    margin: 1.4rem 0 3rem;
  }
  footer .socialiconsend p {
    margin: 1rem 0;
  }
  footer .socialIcons {
    margin-bottom: 0rem;
  }
  footer .socialIcons img {
    margin: 0 16px 0 16px;
    width: 27px;
  }
  .feature:nth-child(2) {
    display: flex;
  }
  .feature:nth-child(2) .b2 {
    align-self: self-end;
  }
  nav.navbar.navbar-expand-lg.navbar-light .container {
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .contactUsContent h1 {
    font-size: 54px;
  }
  .contactUsContent h5 {
    font-size: 16px;
  }
  .contactUsContent .contacticons .contactlogo2 {
    width: 44px;
  }
  .roadmapdetail .r1img {
    width: 57%;
    margin-bottom: 41px;
  }
  .headerbar {
    padding: 2.2rem 0 0.5rem;
  }
  .feature .roadmapicon1 {
    right: -17%;
  }
  .feature .roadmapicon2 {
    top: 0;
    left: -16%;
  }
  .feature h1 {
    font-size: 44px;
  }
  .banner {
    height: 292px;
  }
  .banner h1 {
    font-size: 3.3rem;
  }
  .banner h1 span {
    font-size: 19px;
  }
  .banner .welcomTitle {
    letter-spacing: 14px;
    font-size: 14px;
  }
  .banner .bannerText {
    font-size: 14px;
  }
  .auditBy {
    margin-top: 90px;
  }
  .auditBy h1 {
    font-size: 36px;
  }
  .auditBy img {
    width: 27%;
    margin: 17px 0;
  }
  .auditBy .KudelskiSecurity {
    width: 82%;
  }
  .about p {
    width: 77%;
  }
}
@media only screen and (max-width: 380px) {
  a.d-none-desktop.navbar-brand img {
    width: 72%;
  }
}

/*# sourceMappingURL=app.css.map */
