*,p{
    margin: 0;
    padding: 0;
}
$buttonbg:linear-gradient(45deg, #a900e6, #42005b);
$lightcolor:#BB00FF;
$Fbold: "BoldFont";
@font-face {
    font-family: 'BasicFont';
    src: local('BasicFont'), url(./gilroy-fontFamily/Gilroy-Regular.ttf);
}
@font-face {
    font-family: 'BoldFont';
    src: local('BoldFont'), url(./gilroy-fontFamily/Gilroy-SemiBold.ttf);
}
.textPink{
    color: $lightcolor;
}
body{
    background: rgb(10, 10, 10);
    font-family: "BasicFont";
}
.centerContent{
    width: 80%;
    margin: 0 auto;
}
footer{
    padding: 2rem 0 3rem;
    color: white;
    ul{
        padding: 0;
    }
    li{
        display: block;
        color: #ffffffc2;
        margin: 19px 0;
        font-size: 15px;
    }
    small{
        font-size: 12px;
    }
    .socialiconsend{
        text-align: right;
    }
}
.socialIcons {
    margin-bottom: 50px;
    li{
        display: inline-block;
        img{
            margin: 0 0 0 33px;
            width: 27px;
        }
    }
}
.newslettter{
    padding: 50px 0;
    h2{
        font-family: "BoldFont";
    }
}
.emailsub {
    background: rgba(66, 0, 91, 0.35);
    padding: 8px 20px;
    display: flex;
    border-radius: 9px;
    input {
        border: 0;
        width: 100%;
        color: $lightcolor;
        background: transparent;
        &::placeholder{
            color: $lightcolor;
        }
    }
    button {
        border: 0;
        font-size: 12px;
        padding: 9px 17px;
        background-image: $buttonbg;
        color: white;
        border-radius: 85px;
        display: inline-flex;
        align-items: center;
        p{        
            padding-right: 8px;
        }
    }
}
.dgrid{
    display: grid;
}
.auditBy{
    background-image: url(../src/imgs/Auditedby.png);
    padding: 28px 51px;
    border-radius: 33px;
    color: white;
    h1{
        font-family: "BoldFont";
    }
    button{
        background-color: #381D43;
        color: white;
        padding: 4px 11px;
        font-size: 13px;
        border: 0;
        border-radius: 4px;
        place-self: flex-start;
    }
    .KudelskiSecurity{
        width: 77%;
    }
}
.auditByCover{
    height: 418px;
    padding-bottom: 60px;
    align-items: flex-end;
    display: flex;
    background-size: cover;
    background-image: url(../src/imgs/audibyCover.png);
}
.feature{
    // background-image: url(../src/imgs/Roadmap.png);
    padding: 3rem 4rem 2.5rem 4rem;
    position: relative;
    border-radius: 72px;
    overflow: hidden;
    margin: 5rem 0;    background-size: cover;
    &:nth-child(1){
        background-image: url(../src/imgs/Roadmap.png);
    }
    &:nth-child(2){
        background-image: url(../src/imgs/Roadmap1.png);
    } 
    &:nth-child(3){
        background-image: url(../src/imgs/Roadmap2.png);
    }
    h1{
        text-transform: uppercase;
        font-size: 61px; font-family: "BoldFont";
        span {
            font-size: 25px;
        }
    }
    button{ 
        border-radius: 3px;
        background-color: rgb(255 255 255 / 10%);
        color: white;
        font-size: 12px;
        border: 0;
        padding: 6px 14px;
        display: flex;
        img {
            width: 13px;
            margin-right: 7px;
       }
    }
    .feDes{
        width: 254px;
        padding: 5.2rem 0 2rem;
    }
    .roadmapicon1 {
        position: absolute;
        right: 9%;
        width: 287px;
        bottom: 0;
    }
    .roadmapicon2 {
        position: absolute;
        right: -5%;
        border-radius: 0 0 74px 0;
        width: 275px;
        bottom: -16%;
    }
    .roadmapicon3 {
        position: absolute;
        right: 10%;
        width: 290px;
        top: -23%;
    }
}
.about{
    p{
        width: 27%;
        font-size: 18px;
        margin: 0 auto;
    
    }
}
.bgmain{
    background-image: url(../src/imgs/Backgroundindex.png);
    background-size: 100% 100%;
}
.auditLogo1{
    width: 23%;
}
.headerbar{
    padding: 3rem 0 0.5rem;
    a{
        margin: 0 13px;
        color: white;
        &:hover{
            color: white;
        }
    }
    .wallet {
        background-image: $buttonbg;
        border-radius: 24px;
        width: 140px;
        text-align: center;
    }
    .d-none-desktop{
        display: none;
    }  
}
.banner{
    text-align: center;
    overflow: hidden;
    height: 520px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        line-height: 1.2;
        font-size: 6.3rem;
        margin-bottom: 2.3rem;
        span{
            font-size: 33px;
        }
    }  
    .welcomTitle {
        text-transform: uppercase;
        letter-spacing: 14px;
        font-size: 14px;
    }  
    .leftGif {
        position: absolute;
        width: 40%;
        left: -12%; 
        // top: 50;
    }
    .rightGif {
        position: absolute;
        width: 40%;
        right: -12%; 
        // top: 50;
    top: 15%;
    }
}
// CONTACT US
.contactnetbg{
    position: relative;
    &:before{  
         opacity: 0.7;
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-image: url(../src/imgs/contact-us-pg.png);
        background-size: 100% 100%;
    }
    .contactnet{
        height: 530px;
        margin: 20px 0;
        position: relative;
        &:after {
            background-image: url(./imgs/animation.gif);
            content: "";
            position: absolute;
            z-index: -2;
            top: -89%;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            bottom: 0;
            width: 100%;
            background-size: 100%;
            mix-blend-mode: luminosity;
        }
    }
   
}
.contactUsContent{
    .xicon {
        position: absolute;
        right: -3%;
        width: 9%;
        bottom: -27%;
    }
    .formstyle {
        background: #42005b7a;
        border: 1px solid #8e00c1;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 9px;
        margin: 8px 0;
    }
    button{
        border-radius: 26px;
        padding: 8px 27px;
        font-size: 14px;
        margin: 16px 0;
        border: 0;
        background-image: $buttonbg;
    }
    h1 {
        font-size: 75px;
    }  
    li{
        display: block;
        margin: 16px 0;
        
    }
    .links {
        img{
            width: 30px;
        }a{
            color: white;
            text-decoration: none;
        }
        .row div{
            padding: 8px 0;
        }
    }
    .contacticons {
        align-items:center;
        img {
            width: 100%;
        }
        .contactlogo2 {
            width: 65px;
        }
    }
}
.align-self-center{
    align-self: center;
}
.roadmapdetail {
    padding: 15px 0;
    h1{
        font-family: $Fbold;
        font-size: 99px;
        span{
            font-size: 35px;
        }
    }
    .r1img{
        width: 41%;
    }
}
a.carousel-control-next,a.carousel-control-prev{
    display: none;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #a900e6;
}
.carousel-indicators {
    bottom: -4%;
}
.bannerx{
    padding: 50px 0 70px;
}
.gifx{
    padding: 2.3rem 0 3rem;
}
.nxdex{
    padding: 100px 0 80px;
    img{
        width: 9%;
    }
}
.detailbg{
    position: relative;
    &:before{  
         opacity: 0.7;
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-image: url(../src/imgs/detailbg.png);
        background-size: 100% 100%;
    }
    .bgmask1{
        background-image: url(../src/imgs/mask1.png);
        padding: 35px;
        height: 100%;
        border-radius: 40px;
    }
    .bgmask2{
        background-image: url(../src/imgs/mask2.png);
        padding: 35px;
        height: 100%;
        border-radius: 40px;
    }
    .bgmask3{
        background-image: url(../src/imgs/mask3.png);
        padding: 35px;
        height: 100%;
        border-radius: 40px;
    }
    .bgmask4{
        margin: 34px 0;
        background-image: url(../src/imgs/mask4.png);
        padding: 35px;
        border-radius: 40px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        img{
            height: 145px;
            width: 145px;
        }
    }
    .bgmask{
        font-size: 15px;
        img{
            width: 84px;
            height: 84px;
        }
    }
    .blockh5{
        font-family: $Fbold;
        font-size: 26px;
    }
}
.downloadimg{
    background-image: url(./imgs/downloadbg.png);
    background-size: 100% 100%;
    // background: #04000536;
    // backdrop-filter: blur(12.5px);
    border-radius: 20px;
    padding: 20px 15px;
    margin: 20px 0;
    img {    
        width: 24%;
        height: 43px;
        margin: 0 6px;
    }
}
.nxdeblock1{
    background-image: url(./imgs/nxde1.png);
}
.nxdeblock2{
    background-image: url(./imgs/nxde2.png);
}
.nxdeblock3{
    background-image: url(./imgs/nxde3.png);
}
.nxdeglow{
    position: relative;
    padding-top: 101px;
    &:before{
        background-image: url(./imgs/glowbg.png);
        position: absolute;
        top: -30%;
        bottom: 0;
        content: "";
        left: 0;
        background-size: 100% 100%;
        right: 0;
        width: 100%;
        z-index: 9999;
    }
}
.nxdebg {
    .row{
        align-items: center;
    }
    .nxdeblock {
        border-radius: 61px;
        padding: 25px 10px 30px ;
        margin: 40px 0;
        img{
            width: 110px;
            height: 110px;
        }
        p{
            font-size: 14px;
        }
    }
}
.mobileView{
    display: none;
}
.text-end-div{
    text-align: right;
}
.w-50-mbl{
    width: 50%;
}







// RESPONSIVENESS
@media only screen and (max-width: 768px) {
    .textCenterMbl,.text-end-div,.bannerx{
        text-align: center;
    }
    .detailbg{
        position: relative;
        &:before{  
             opacity: 0.7;
            position: absolute;
            content: "";
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-image: url(../src/imgs/product-pg-mobile.png);
            background-size: 100% 100%;
        }
    }  
    .w-50-mbl, .w-80mbl{
        width: 86%; margin: 0 auto;
    }
    .roadmapdetail {
        .r1img {
            width: 40%;
            margin-bottom: 41px;
        }
    }
    .contactnetbg{
        &:before{  
            background-image: url(../src/imgs/contact-us-mobile.png);
        }
    }
    .gifx img {
        width: 100%;
    }
    .mobileView{
        display: block;
    }
    .desktopView{
        display: none;
    }
    .nxdex img {
        width: 37%;
    }    
    .contactUsContent{
        padding-top: 2rem;
        .links img {
            width: 36px;
        }
        button {
            padding: 9px 27px;
            font-size: 18px;
            width: 100%;
        }
        h5 {
            font-size: 21px;
        }
        .contacticons{
                text-align: center;
                h5{
                    font-size: 19px;
                }
                li{
                    margin-bottom: 0;
                }
            .contactlogo2{
                width: 67px;
            }
        }
        .contactnet{
            height: 354px;
            margin: 0px 0;
            &:after {
              
                top: -100%;
                bottom: -24%;
                background-size: cover;
                background-position-x: center;
            }
        }
    } 
    .gifBg {
        background-image: url(./imgs/indexgif.gif);
        top: -21%;
        position: absolute;
        height: 200px;
        background-size: 100% 100%;
        z-index: -2;
    }
    .bgmain{
        background-image: none;
        position: relative;
        &:before {
            background-image: url(./imgs/Backgroundindexmbl.png);
            opacity: 0.8;
            position: absolute;
            content: "";
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: 100%;
            width: 100%;
        }
        .headerbar{
            padding: 10.6rem 0 0rem;
        }
    }
    .headerbar{
        .d-none-desktop{
            display: block;
        }
        .d-none-mbl{
            display: none;
        }
    }
    .navbar{
        a{
            margin: auto;
        }
        .navbar-toggler-icon{
            background-image: url(../src/imgs/menu.png);
        }
    }
    .welcomTitle{
        span{
            display: none;
        }
    }
    .banner {
        height: 482px;
        h1 {
            line-height: 1.2;
            font-size: 6rem;
            span {
                font-size: 25px;
            }
        }
        .welcomTitle {
            letter-spacing: 29px;
            font-size: 17px;
        }
        .leftGif,.rightGif{display: none;}
        .bannerText {
            font-size: 16px;
        }
    }
    .about {
        p {      
            width: 46%;
            font-size: 16px;
       }
    }
    .auditByCover {
        height: auto;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        background-size: 100%;
    }
    .about{
        height: 275px;
    }
    .centerContent {
        width:86%;
    }
    .feature {        
        padding: 2.6em 2rem 2.5rem 2.3rem;
        border-radius: 43px;
        margin: 2rem 0;
        height: 470px;
        overflow: hidden;
        &:nth-child(1){
            background-image: url(../src/imgs/Roadmap1mbl.png);
        }
        &:nth-child(2){
            background-image: url(../src/imgs/Roadmap2mbl.png);
        }
        &:nth-child(3){
            background-image: url(../src/imgs/Roadmap3mbl.png);
        }
        h1 {
            font-size: 54px;
            text-transform: uppercase;
        }
        h4 {
            font-size: 17px;
        }
        .feDes {
            width: auto;
            font-size: 14px;
            padding: 1.2rem 0 1rem;
        }
        .roadmapicon1 {
            right: -6%;
            width: 203px;
        }
        button {
           font-size: 16px;
           img {
            width: 16px;
           }
        }
        .roadmapicon3 {
            top: auto;
            right: -2%;
            width: 203px;
            bottom: -17%;
        }
        .roadmapicon2 {
            border-radius: 0;
            width: 172px;
            top: 6px;
            left: -6%;
        }
    }
    .auditBy {
        text-align: center;
        background-image: url(../src/imgs/Auditedbymbl.png);
        background-size: 100% 100%;
        margin-top: 156px;
        h1{
            font-size: 80px;
        }
        button {
            place-self: center;
            padding: 9px 37px;
            letter-spacing: 1px;
            margin-bottom: 2.5rem;
        }
        img {
            width: 17%;
            margin: 17px 0;
        }
        .KudelskiSecurity {
            width: 42%;
        }
    }
    footer {
        padding: 10px;
        .newslettter{
            text-align: center;
            h2{
                font-weight: 700;
                font-size: 30px;
            }
            p{            
                margin: 1.3rem 0;
            }
            button{
                font-size: 21px;
                padding: 5px 12px;            
                p{display: none;}
            }
        }
        .socialiconsend{
            text-align: center;
            margin:1.4rem 0 3rem;
            p{
                margin: 1rem 0;
            }
        }
        .socialIcons {
            margin-bottom: 0rem;
            img {
                margin: 0 16px 0 16px;
                width: 27px;
            }
        }
    }
    .feature:nth-child(2) {
        display: flex;
        .b2 {
            align-self: self-end;
        }
    }
}
@media only screen and (max-width: 575px) {
    .contactUsContent{
        h1 {
            font-size: 54px;
        }
        h5{
            font-size: 16px;
        }        
        .contacticons{
            .contactlogo2{
                width: 44px;
            }
        }
    }
    
    .roadmapdetail {
        .r1img {
            width: 57%;
            margin-bottom: 41px;
        }
    }
    .headerbar{
        padding: 2.2rem 0 0.5rem;
    }
    .feature {        
        .roadmapicon1 {
            right: -17%;
        }
        .roadmapicon2 {
            top: 0;
            left: -16%;
        }
        h1 {
            font-size: 44px;
        }
    }
    .banner {
        height: 292px;
        h1 {
            font-size: 3.3rem;
            span {
                font-size: 19px;
            }
        }
        .welcomTitle {
            letter-spacing: 14px;
            font-size: 14px;
        }
        .bannerText {
            font-size: 14px;
        }
    }
    .auditBy {
        margin-top: 90px;
        h1{
            font-size: 36px;
        }
        img {
            width: 27%;
            margin: 17px 0;
        }
        .KudelskiSecurity {
            width: 82%;
        }
    }
    .about {
        p {
            width: 77%;
        }
    }
}